$base-color:#EEE;

@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;
@include sencha-loading-spinner;
@include sencha-list-pullrefresh;

/** overrides **/

.x-dataview-inner {padding:0!important;}
.clear {clear:both;}
.feeds {
	background:#F8F8F8;
	padding:10px;
	.tweet {
		font-size:12px;
		padding: 10px;
		color:#777;
		span {
			display:block;
			font-size:13px;
			font-weight: bold;
			color:#2A2A2A;
		}

		img {float:left;margin-right:5px;border:1px solid #CCC;}

		clear:both;
	}	
}

.news {
	padding:10px;
	background:#FFF;
	
	p {
		font-size: 12px;
		color:#2A2A2A;
	}
	img {float:left;width:100px;margin-right:10px;}
}